* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  color: #48555b;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 72px;
  color: white;
  letter-spacing: 5.71px;
}

h2 {
  font-family: "Open Sans", sans-serif;
  /* text-transform: uppercase; */
  font-weight: 700;
  font-size: 18px;
}

.container {
  max-width: 941px;
  margin: 0 auto;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  font-size: 12px;
}

button {
  cursor: pointer;
}
