.contacts {
  background-color: black;
  align-items: center;
  margin: 0 auto;
  padding: 30px 0 23px;
}

.letter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 51px;
}

.newletter {
  text-transform: none;
  color: white;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.85px;
  margin: 0 70px;
}

.email {
  width: 250px;
  height: 40px;
}

.email:focus {
  outline: none;
}

.signup {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  letter-spacing: 0.5px;
  width: 150px;
  height: 40px;
  background-color: #00a4e5;
  color: white;
  cursor: pointer;
  border: none;
}

.signup:hover {
  opacity: 90%;
  transition: 0.3s;
  color: white;
  background-color: rgb(10, 181, 228);
}

.contacts_end {
  text-align: center;
  color: white;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.85px;
}
