.our_story {
  padding: 49px 0 127px;
}

.fff {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.our_story_header {
  text-transform: uppercase;
  text-align: center;
}

.our_story_header::after {
  display: block;
  position: relative;
  left: 50%;
  top: 11px;
  transform: translateX(-50%);
  content: "";
  margin-bottom: 81px;
  width: 50px;
  height: 2px;
  background-color: #00a4e5;
}

.our_story_text {
  max-width: 405px;
  margin: 0 30px;
}

.founded {
  margin: 0 0 30px;
}
.colortext {
  color: #00a4e5;
}

.picture_box {
  display: inline-block;
  position: relative;
}

.picture_text {
  text-transform: uppercase;
  position: absolute;
  top: 15px;
  left: 14px;
  color: white;
}
