.work {
  padding: 30px 0 115px;
}

.work_info {
  max-width: 295px;
  border-style: solid;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  padding: 38px 22px 39px 23px;
}

.work_box {
  display: flex;
  justify-content: space-between;
}
.work_header {
  font-size: 16px;
  margin: 25px 0 13px;
}
